{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
    Makes groups of bookmarks and upload images. This is an education assignment for SSD in WIT.
  </p>
</section>