{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to a Bookmark Maker
  </h1>
  <p>
    A small app to let you compose playlists of bookmarks and upload images.
  </p>
</section>